@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* common item */
.display-flex{
  display: flex;
}

/* navbar start **************/
.architects{
    color: rgb(30, 30, 30);
    font-family: Work Sans;
    font-weight: 700;
    text-align: center;
    font-size: 45px;
}
.bg-primary{
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    align-items: center;
}
.nav-item {
  list-style: none;
  margin-left: 30px;
}
.nav-item .nav-links{
  text-decoration: none;
  margin-left: 30px;
  color: rgb(66, 66, 66);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
  /* navbar end ****************/

  /* banner start ******************** */
  .banner-item{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
  }
  .banner-pc{
    max-width: 1300px;
    margin: 0 auto;
    align-items: center;
    margin-top: 40px;
    margin-left: 100px;
    
  }
  .banner-text{
    font-size: 60px;
    font-weight: 700;
    color: #131313;
  }
  .banner-p{
    font-size: 16px;
    font-family: Work Sans;
    color: #727272;
    font-family: Work Sans;
  }
  .btn-primary{
    font-size: 25px;
    color: #FFFFFF;
    background-color: #FF900E;
    font-weight: 600;
    padding: 15px 20px;
    border-radius: 8px;
    border: none;
  }
/*banner end *********************/

/* team section start********* */
main{
  max-width: 1200px;
  margin: 0 auto;
}
.teams {
  align-items: center;
  margin-top: 50px;
}
.teams-image-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.features{
  margin-left: 60px;
}
.quick{
  color: #727272;
  font-size: 45px;
  font-weight: 500;
  font-family: Work Sans;
}
.our{
  color: #131313;
  font-size: 45px;
  font-weight: 500;
  font-family: Work Sans;
}
.features-1{
  color: #FF900E;
  font-size: 45px;
  font-weight: 500;
  font-family: Work Sans;
}
.teams-p{
  color: #727272;
  font-size: 16px;
  font-family: Work Sans;
}
/* team section end*************/

/* feature part start**********/
.features-container{
  margin-top: 60px;
  gap: 100px;
}
.features-name{
  font-size: 45px;
  font-weight: 700;
  color: #131313;
  margin-left: -20px;
}
.features-name{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}
.features-para{
  color: #727272;
  font-size: 1rem;

}
.features-item{
  box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.06);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  
  
}
.drag{
  font-size: 20px;
  font-weight: 600;
  color: #131313;
}
.variation{
  color: #727272;
  font-size: 1rem;
}
.ten-year{
  font-size: 60px;
  font-weight: 700;
  color: #FFFFFF;
}
.experience{
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
}
.control{
  padding: 45px;
  margin-top: -100px;
  margin-left: -45px;
}
/* feature part end**********/

/* some fact start*********** */
.facts{
  font-size: 45px;
  font-family: Work Sans;
  font-weight: 700px;
  color: #131313;
  margin-bottom: 40px;
}
.variation{
  font-size: 16px;
  font-family: Work Sans;
  color: #727272;
  
}
.facts-card{
  border: 1px solid #FF900E;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  text-align: center;
  border-radius: 8px;
  margin-left: 70px;
  margin-top: 60px;
}
.facts-number{
  font-size: 45px;
  font-family:  Work Sans;
  font-weight: 600;
  color: #424242;
  margin-top: 4px;
  margin-bottom: 10px;
}
.facts-name{
  font-size: 20px;
  font-weight: 600;
  color: #727272;
  margin-top: 10px;
}
/* some fact end*********** */

/* Our Sponspors start *******/
.sponsor{
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.variation{
  color: #727272;
  font-size: 16px;
}
.item{
  text-align: center;
  margin-top: 70px;
}
.imagaes-item{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  filter: grayscale(100%);
}
/* Our Sponspors start ******* */

/* footer start************* */
.footer{
  color: #424242;
  font-size: 20px;
  font-family:  Work Sans;
  text-align: center;
  align-items: center;
  margin-top: 100px;
  background-color: #FFF4E7;
  height: 100px;
  width: 1200px;
  margin-left: 160px;
}
/* footer end************* */




   /* responsive website**************** */
   @media screen and (max-width: 576px) {
      .navbar, 
      .nav-item, 
      .teams,
      .features-container, 
      .facts-container{
        flex-direction: column;
      }
      .banner-pc{
        margin-left: 0px;
        align-items: center;
        width: 100%;
      }
      .nav-item{
        margin-right: 100px;
      }
      .architect-picture{
        width: 100%;
      }
      
      .features{
        grid-template-columns: repeat(1fr,1);
      }
      .teams-image-container{
        grid-template-columns: repeat(1,1fr);
      }
   }